<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="ua.oleksii.fitplantest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".application.FitPlanApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity android:name=".view.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activities.PlanListActivity" />

        <activity android:name=".view.activities.PlanDetailActivity" />

        <activity android:name=".view.activities.SettingsActivity" />

        <receiver
                android:name=".managers.ConnectionManager$PreNougatConnectionReceiver"
                tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".services.TestService" />

        <provider
                android:name="androidx.work.impl.WorkManagerInitializer"
                android:authorities="${applicationId}.workmanager-init"
                tools:node="remove" />

    </application>

</manifest>